.container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: space-between;
  align-items: initial;
  padding: 10px 40px;
  background-color: transparent;
}
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: space-between;
    align-items: initial;
    padding: 10px 30px;
    background-color: transparent;
  }
}
