.pro {
  width: 100vw;
  height: calc(100vh + 80px);
  background-image: url("/images/mas-altura-hero-desktop.jpg");
  /* background-size: calc(100vw + 100px) auto; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  justify-content: initial;
  align-items: initial;
  height: auto;
  padding: 40px;
}
.ppal {
  margin-top: 40px;
}
.paragraph {
  font-size: 24px;
  /* font-weight: 300; */
  color: white;
  margin-top: 60px;
  max-width: 730px;
}
.arrow {
  font-family: "N27-Regular";
  color: #ff5300;
}

@media (max-width: 700px) {
  .pro {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url("/images/mas-altura-hero-mobile.jpg");
    background-size: cover;
  }
  .ppal {
    margin-top: 90px;
  }
  .container {
    display: flex;
    justify-content: initial;
    align-items: initial;
    height: auto;
    padding: 30px;
  }
  .paragraph {
    font-size: 14px;
    /* font-weight: 300; */
    color: white;
    margin-top: 20px;
    max-width: 320px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .pro {
    width: 100vw;
    height: auto;
    min-width: 100vh;
    min-height: 100vh;
    background-image: url("/images/mas-altura-hero-desktop.jpg");
    background-size: cover;
  }
}
