<main class="pro">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="ppal">
        <div>
          <h1 class="txt-xl txt-white txt-fina">
            LLEGAMOS<br />
            DONDE LOS DEMÁS<br />
            NO LLEGAN.
          </h1>
        </div>
        <div class="paragraph">
          <p class="txt-white txt-regular">
            INSTALACIONES SIN ANDAMIOS
            <span class="arrow">›</span> REHABILITACIÓN DE EDIFICIOS
            <span class="arrow">›</span> LIMPIEZA DE FACHADAS/CRISTALES
            <span class="arrow">›</span> IMPERMEABILIZACIÓN CUBIERTAS
            <span class="arrow">›</span> INSTALACIÓN DE PLACAS SOLARES
            <span class="arrow">›</span> LIMPIEZA DE CANALONES
            <span class="arrow">›</span> SISTEMAS DE SEGURIDAD
            <span class="arrow">›</span> SISTEMAS ANTI AVES
            <span class="arrow">›</span> PODA Y TALA EN ALTURA
            <span class="arrow">›</span> LONAS PUBLICITARIAS
            <span class="arrow">›</span> Y MÁS.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
